.Btn{
    border-radius: 20px;
    font-size: x-large;
    color: white;
    background: rgb(1, 14, 87);
    
}

.Btn:hover {
    background-color: rgb(0, 151, 156);
    font-size: x-large;
}

.containerSpecial {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .containerSpecial {
        flex-direction: column;
    }
}